@model Armoire.Common.UserListVM
@{
    ViewData["Title"] = "Administration: Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    table#user-search td {
        padding: 3px;
    }
</style>
<div class="row">
    <div class="col-xs-10">
        <table id="user-search" style="width: 90%; padding: 5px; margin-bottom: 0; float: left;">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Member of Role</td>
                    <td style="width: 120px;">Active Only</td>
                </tr>
                <tr>
                    <td>@Html.TextBox("FilterName", null, new { style = "width: 220px;" })</td>
                    <td>@Html.DropDownList("FilterRole", new SelectList(Model.RoleList, "Id", "Name"), null, new { style = "width: 150px;" })</td>
                    <td>@Html.CheckBox("FilterActive", true)</td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right" style="padding-top: 18px;">
            <span id="filter-btn" class="btn btn-primary">Find</span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="btn-group pull-right" style="padding-top: 18px;">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> Add
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a id="add-user" href="#">
                        <i class="icon-user"></i> User
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 0px;">
    <div class="col-xs-12">
        @Html.Partial("_UserList", Model.UserList)
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="user-edit-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit-user">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script type="text/javascript">
    App.UserAdmin.Init({
        Filter: '/Admin/FilterUsers',
        DeleteUser: '/Admin/ToggleUserActive',
        ReviveUser: '/Admin/ToggleUserActive',
        NewUserView: '/Admin/NewUser',
        EditUserView: '/Admin/EditUser',
        Commit: '/Admin/SaveUser'
    });
</script>
}