
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(ViewData["Message"] != null)
{

    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
}

<h2>Login</h2>

